project-folder/flows.json
[
    {
        "id": "0f2ea8e68f1bceae",
        "type": "tab",
        "label": "gemini",
        "disabled": false,
        "info": "### API Documentation: \r\nURL: /gemini\r\nMethod: POST\r\nContent-type: application/json\r\nBody param:\r\n{\r\n    \"product\": product name,\r\n    \"startDate\": trend analysis start date,\r\n    \"endDate\": trend analysis end date,\r\n    \"videoCount\": number of video to fetch,\r\n    \"commentCount\": number of comment to fetch per video\r\n}\r\n\r\nPurpose: \r\nA centralised flow calling trend analysis, sentiment analysis, and firebase inventory data. \r\nBuild a prompt to be sent to Gemini Agent. Retrieve response in text string. \r\nConcatenate all datapoint in HTTP response for easy retrieval on UI and data visualisation, including: \r\n    - User input parameter \r\n    - Trend analysis result\r\n    - Sentiment analysis result\r\n    - Gemini recommedation response\r\n\r\n\r\nOutput: \r\n{\r\n    analysis {\r\n        input {\r\n            product: \r\n            startDate:\r\n            endData: \r\n            videoCount:\r\n            commentCount:\r\n        }\r\n        inventory {\r\n            record {}\r\n        }\r\n        trend {\r\n            trend {\r\n                start_value:\r\n                end_value:\r\n                percentage_change:\r\n                trend: \r\n            }\r\n            timeline {\r\n                object {\r\n                    date:\r\n                    timestamp:\r\n                    values {\r\n                        object {\r\n                            query:\r\n                            value: \r\n                            extracted value:\r\n                        }\r\n                    }\r\n                }\r\n            }\r\n        }\r\n        sentiment {\r\n            summary {\r\n                clearly_positive:\r\n                clearly_negative:\r\n                neutral:\r\n                mixed:\r\n            }\r\n            chartData { \r\n                object {\r\n                    label: \r\n                    value: \r\n                }\r\n            }\r\n            comments {\r\n                object {\r\n                    comment: \r\n                    sentiment_score: \r\n                    sentiment_magnitude:\r\n                    sentiment: \r\n                }\r\n            }\r\n        }\r\n    }\r\n    recommendation {\r\n        Gemini generated recommedation text\r\n    }\r\n}"
    },
    {
        "id": "163ec25ad17b0fc3",
        "type": "tab",
        "label": "trend",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "sentiment",
        "disabled": false,
        "info": ""
    },
    {
        "id": "295f0eede1eed1eb",
        "type": "tab",
        "label": "database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "facbfc970ede32a7",
        "type": "google-cloud-credentials",
        "name": "linh-key-file"
    },
    {
        "id": "d58d6e598d60aaa2",
        "type": "http in",
        "z": "0f2ea8e68f1bceae",
        "name": "receive request ",
        "url": "/gemini",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "de741aac15906c3a"
            ]
        ]
    },
    {
        "id": "9bd4b225e79ba46b",
        "type": "inject",
        "z": "0f2ea8e68f1bceae",
        "name": "test data iphone 16 pro max",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"product\":\"iphone 16 pro max\",\"startDate\":\"2025-01-01\",\"endDate\":\"2025-05-01\",\"videoCount\":5,\"commentCount\":50}",
        "payloadType": "json",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "de741aac15906c3a"
            ]
        ]
    },
    {
        "id": "a0dea7e9815af7d5",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "prepare trend request",
        "func": "msg.url = \"http://35.244.85.126/trend\";\nmsg.headers = {\n  \"Content-Type\": \"application/json\"\n};\nmsg.method = \"POST\";\nmsg.payload = {\n  product: msg.payload.product,\n  startDate: msg.payload.startDate,\n  endDate: msg.payload.endDate\n};\n\nmsg.topic = \"trend\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [
            [
                "1ba36bd2bee1daf4"
            ]
        ]
    },
    {
        "id": "306bd2ae7db8e3bb",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "prepare sentiment request",
        "func": "msg.url = \"http://35.244.85.126/sentiment\";\nmsg.headers = {\n  \"Content-Type\": \"application/json\"\n};\nmsg.method = \"POST\";\nmsg.payload = {\n  product: msg.payload.product,\n  videoCount: msg.payload.videoCount,\n  commentCount: msg.payload.commentCount\n};\n\nmsg.topic = \"sentiment\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "8b955cc116877d62"
            ]
        ]
    },
    {
        "id": "99a7b4468845397f",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "prepare firebase request",
        "func": "const productName = msg.payload.product || msg.payload.productName;\n\nmsg.url = `http://35.244.85.126/products/${encodeURIComponent(productName)}`;\nmsg.method = \"GET\";\nmsg.headers = {\n  \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = null;\n\nmsg.topic = \"inventory\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 580,
        "wires": [
            [
                "c8473668f23124a5"
            ]
        ]
    },
    {
        "id": "1ba36bd2bee1daf4",
        "type": "http request",
        "z": "0f2ea8e68f1bceae",
        "name": "call trend flow",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 980,
        "y": 260,
        "wires": [
            [
                "44d3cf516b75944b"
            ]
        ]
    },
    {
        "id": "8b955cc116877d62",
        "type": "http request",
        "z": "0f2ea8e68f1bceae",
        "name": "call sentiment flow",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "d5a18c6142acfe1f"
            ]
        ]
    },
    {
        "id": "c8473668f23124a5",
        "type": "http request",
        "z": "0f2ea8e68f1bceae",
        "name": "call database flow",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 580,
        "wires": [
            [
                "26b38de6f36e113b"
            ]
        ]
    },
    {
        "id": "25b010fea66c5068",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "retrieve trend summary",
        "func": "msg.trend_summary = msg.payload.trend.trend;\nmsg.payload = msg.trend_summary;\n\nmsg.topic = \"trend_param\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1990,
        "y": 260,
        "wires": [
            [
                "a054f409fad2b34a"
            ]
        ]
    },
    {
        "id": "3fa93729f0054902",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "retrieve sentiment summary",
        "func": "msg.sentiment_summary = msg.payload.sentiment.summary; \nmsg.payload = msg.sentiment_summary;\nmsg.topic = \"sentiment_param\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 420,
        "wires": [
            [
                "a054f409fad2b34a"
            ]
        ]
    },
    {
        "id": "a054f409fad2b34a",
        "type": "join",
        "z": "0f2ea8e68f1bceae",
        "name": "join analytics results",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2330,
        "y": 420,
        "wires": [
            [
                "c0edf7a5b3217102",
                "339b8389466a19b6"
            ]
        ]
    },
    {
        "id": "9fd79710d8f7dd1f",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "calculate inventory turnover",
        "func": "const records = msg.payload.inventory;\nconst input = msg.payload.input || {};\n\nif (!Array.isArray(records)) {\n  msg.payload.inventory = { error: \"Expected array of inventory records\" };\n  return msg;\n}\n\nlet totalCOGS = 0;\nlet totalBegin = 0;\nlet totalEnd = 0;\nlet totalTarget = 0;\nlet periods = [];\n\nrecords.forEach(record => {\n  const begin = record[\"Beginning Inventory\"] || 0;\n  const end = record[\"Ending Inventory\"] || 0;\n  const cogs = record[\"COGS\"] || 0;\n  const target = record[\"Target Turnover\"] || 0;\n\n  totalCOGS += cogs;\n  totalBegin += begin;\n  totalEnd += end;\n  totalTarget += target;\n  periods.push(record.period);\n});\n\nconst avgInventory = (totalBegin + totalEnd) / (2 * records.length);\nconst turnover = avgInventory > 0 ? totalCOGS / avgInventory : 0;\nconst avgTarget = totalTarget / records.length;\n\nconst sortedPeriods = periods.sort();\nconst summary = {\n  \"Start Period\": sortedPeriods[0],\n  \"End Period\": sortedPeriods[sortedPeriods.length - 1],\n  \"Total COGS\": totalCOGS,\n  \"Average Inventory\": Number(avgInventory.toFixed(2)),\n  \"Inventory Turnover\": Number(turnover.toFixed(2)),\n  \"Average Target Turnover\": Number(avgTarget.toFixed(2)),\n  \"Turnover Gap\": Number((turnover - avgTarget).toFixed(2))\n};\n\n\nmsg.payload = [summary];\nmsg.inventory_summary = msg.payload;\nmsg.topic = \"inventory_param\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2000,
        "y": 560,
        "wires": [
            [
                "a054f409fad2b34a"
            ]
        ]
    },
    {
        "id": "8fe5257a79be0df9",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "build gemini prompt",
        "func": "const params = msg.geminiParams || {};\n\nmsg.payload = {\n    contents: [\n        {\n            parts: [\n                {\n                    text: \n                        `Here is overall analytics for \"${params.product}\" between ${params.startDate} and ${params.endDate}.\\n\\n` +\n                        `Overall Analysis:\\n- ${params.sentimentSummary}\\n- ${params.trendSummary}\\n- ${params.inventoryTurnoverSummary}\\n\\n` +\n                        `Provide your recommendation on stocking decision as an inventory manager.\\n\\n` +\n                        `Use text based response. No markdown, bullet points or formatting. Use a dash instead.\\n` +  \n                        `1. Analysis Results: Rephrase analysis with enhance readability\\n` +\n                        `2. Recommendation: Stock Action: Increase or Hold or Reduce\\n` +\n                        `3. Justification: [Provide 2–3 concise bullet points explaining your recommendation]\\n\\n` +\n                        `4. Estimated Units:\\n [Provide the result. Then a concise explanation of calculation. Use the turnover gap to estimate whether stock should be increased or reduced, and by how much (in units). Assume current inventory is based on average inventory value.]\\n\\n` +\n                        `5. Important Considerations\\n* [Consideration 1]\\n* [Consideration 2]\\n* [Consideration 3]\\n\\n` +\n                        `Disclaimer\\nThis is a preliminary recommendation based on provided data.`\n\n                }\n            ]\n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 420,
        "wires": [
            [
                "7c7b0a47f141b0c2",
                "479fa51866c6c4d0"
            ]
        ]
    },
    {
        "id": "7c7b0a47f141b0c2",
        "type": "factory-agent-gemini",
        "z": "0f2ea8e68f1bceae",
        "name": "",
        "model": "gemini-2.0-flash-lite",
        "temperature": 0.7,
        "maxTokens": 2048,
        "x": 3100,
        "y": 420,
        "wires": [
            [
                "2a7a6deb02c2e42a",
                "128df7b33617904f"
            ]
        ]
    },
    {
        "id": "c0edf7a5b3217102",
        "type": "debug",
        "z": "0f2ea8e68f1bceae",
        "name": "debug join analytics param",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2640,
        "y": 340,
        "wires": []
    },
    {
        "id": "de741aac15906c3a",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "set topic to input",
        "func": "msg.topic = \"input\"; \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "99a7b4468845397f",
                "306bd2ae7db8e3bb",
                "a0dea7e9815af7d5",
                "5143069f49c68aa6",
                "a054f409fad2b34a"
            ]
        ],
        "info": "Reserve user input param for reference when building gemini prompt"
    },
    {
        "id": "2a7a6deb02c2e42a",
        "type": "debug",
        "z": "0f2ea8e68f1bceae",
        "d": true,
        "name": "debug gemini output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3340,
        "y": 500,
        "wires": []
    },
    {
        "id": "128df7b33617904f",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "retrieve response",
        "func": "try {\n    const text = msg.payload?.candidates?.[0]?.content?.parts?.[0]?.text;\n\n    if (!text) {\n        throw new Error(\"No text response found in Gemini output\");\n    }\n\n    msg.payload = text;               // Main response output\n    msg.gemini_response = text;       // Optional backup or for logging\n} catch (err) {\n    msg.payload = {\n        error: \"Failed to retrieve Gemini text response\",\n        details: err.message\n    };\n    msg.gemini_response = null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3330,
        "y": 420,
        "wires": [
            [
                "21a75c8788aef316",
                "83beb51b26860b0b"
            ]
        ]
    },
    {
        "id": "21a75c8788aef316",
        "type": "debug",
        "z": "0f2ea8e68f1bceae",
        "name": "debug retrieve response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3650,
        "y": 340,
        "wires": []
    },
    {
        "id": "6aae47b751446e9f",
        "type": "http response",
        "z": "0f2ea8e68f1bceae",
        "name": "HTTP response",
        "statusCode": "200",
        "headers": {},
        "x": 4080,
        "y": 420,
        "wires": []
    },
    {
        "id": "339b8389466a19b6",
        "type": "function",
        "z": "0f2ea8e68f1bceae",
        "name": "prepare gemini constant",
        "func": "const input = msg.payload.input || {};\nconst trend = msg.payload.trend_param || {};\nconst sentiment = msg.payload.sentiment_param || {};\nconst inventory = msg.payload.inventory_param?.[0] || {}; // Use the first and only summary object\n\nmsg.geminiParams = {\n  product: input.product,\n  startDate: input.startDate,\n  endDate: input.endDate,\n\n  trendSummary: \n    `Google Trend interest overtime: from ${trend.start_value} to ${trend.end_value} (${trend.percent_change}%, ${trend.trend})`,\n\n  sentimentSummary: \n    `YouTube Comment Sentiment: ${sentiment.clearly_positive} positive, ${sentiment.clearly_negative} negative, ` +\n    `${sentiment.neutral} neutral, ${sentiment.mixed} mixed.`,\n\n  inventoryTurnoverSummary: \n    `Historical Inventory Turnover (${inventory[\"Start Period\"]} to ${inventory[\"End Period\"]}):\\n` +\n    `- Total COGS: ${inventory[\"Total COGS\"]}\\n` +\n    `- Average Inventory: ${inventory[\"Average Inventory\"]}\\n` +\n    `- Inventory Turnover: ${inventory[\"Inventory Turnover\"]}\\n` +\n    `- Target Turnover: ${inventory[\"Average Target Turnover\"]}\\n` +\n    `- Turnover Gap: ${inventory[\"Turnover Gap\"] > 0 ? \"+\" : \"\"}${inventory[\"Turnover Gap\"]}`\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2630,
        "y": 420,
        "wires": [
            [
                "8fe5257a79be0df9",
                "1d1551686f8df012"
            ]
        ]
    },
    {
        "id": "1d1551686f8df012",
        "type": "debug",
        "z": "0f2ea8e68f1bceae",
        "name": "debug constant",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2840,
        "y": 500,
        "wires": []
    },
    {
        "id": "479fa51866c6c4d0",
        "type": "debug",
        "z": "0f2ea8e68f1bceae",
        "name": "debug prompt",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3100,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf8df7234afca578",
        "type": "inject",
        "z": "0f2ea8e68f1bceae",
        "name": "test data samsung s25 ultra",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"product\":\"samsung s25 ultra\",\"startDate\":\"2025-01-01\",\"endDate\":\"2025-05-01\",\"videoCount\":5,\"commentCount\":50}",
        "payloadType": "json",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "de741aac15906c3a"
            ]
        ]
    },
    {
        "id": "75199e4c3a1d7370",
        "type": "inject",
        "z": "0f2ea8e68f1bceae",
        "name": "test data dji pocket 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"product\":\"dji pocket 3\",\"startDate\":\"2025-01-01\",\"endDate\":\"2025-05-01\",\"videoCount\":5,\"commentCount\":50}",
        "payloadType": "json",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "de741aac15906c3a"
            ]
        ]
    },
    {
        "id": "8b827ec1356d73fb",
        "type": "inject",
        "z": "0f2ea8e68f1bceae",
        "name": "test data nintendo switch",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"product\":\"nintendo switch\",\"startDate\":\"2025-01-01\",\"endDate\":\"2025-05-01\",\"videoCount\":5,\"commentCount\":50}",
        "payloadType": "json",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "de741aac15906c3a"
            ]
        ]
    },
    {
        "id": "44d3cf516b75944b",
        "type": "change",
        "z": "0f2ea8e68f1bceae",
        "name": "set topic to trend",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "trend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 260,
        "wires": [
            [
                "5143069f49c68aa6"
            ]
        ]
    },
    {
        "id": "d5a18c6142acfe1f",
        "type": "change",
        "z": "0f2ea8e68f1bceae",
        "name": "set topic to sentiment",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sentiment",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "5143069f49c68aa6"
            ]
        ]
    },
    {
        "id": "26b38de6f36e113b",
        "type": "change",
        "z": "0f2ea8e68f1bceae",
        "name": "set topic to inventory",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "inventory",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "5143069f49c68aa6"
            ]
        ]
    },
    {
        "id": "5143069f49c68aa6",
        "type": "join",
        "z": "0f2ea8e68f1bceae",
        "name": "join topics",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1470,
        "y": 420,
        "wires": [
            [
                "03a8ae37581c90ae"
            ]
        ]
    },
    {
        "id": "03a8ae37581c90ae",
        "type": "change",
        "z": "0f2ea8e68f1bceae",
        "name": "set topic to analysis",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "analysis",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 420,
        "wires": [
            [
                "25b010fea66c5068",
                "3fa93729f0054902",
                "9fd79710d8f7dd1f",
                "380456c845ee7479"
            ]
        ]
    },
    {
        "id": "83beb51b26860b0b",
        "type": "change",
        "z": "0f2ea8e68f1bceae",
        "name": "set topic to recommendation",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "recommendation",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3590,
        "y": 420,
        "wires": [
            [
                "380456c845ee7479"
            ]
        ]
    },
    {
        "id": "380456c845ee7479",
        "type": "join",
        "z": "0f2ea8e68f1bceae",
        "name": "join data response",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3840,
        "y": 420,
        "wires": [
            [
                "3b4171dae5844a4a",
                "6aae47b751446e9f"
            ]
        ]
    },
    {
        "id": "3b4171dae5844a4a",
        "type": "debug",
        "z": "0f2ea8e68f1bceae",
        "name": "debug http response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 4060,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f02841321440835",
        "type": "function",
        "z": "163ec25ad17b0fc3",
        "name": "build SERPAPI request",
        "func": "function formatDate(dateInput) {\n    const date = new Date(dateInput);\n    const yyyy = date.getFullYear();\n    const mm = String(date.getMonth() + 1).padStart(2, '0');\n    const dd = String(date.getDate()).padStart(2, '0');\n    return `${yyyy}-${mm}-${dd}`;\n}\n\nconst product = encodeURIComponent(msg.payload.product);\nconst startDate = formatDate(msg.payload.startDate);\nconst endDate = formatDate(msg.payload.endDate);\nconst date = `${startDate} ${endDate}`;\nconst apiKeyTruc = \"cd154b4dc6a28ea60900b8d5d55dd85510d4ce67e2883e9bd9fdecb35c156efa\";\nconst apiKeyLinh = \"1b31b5d2bfb359824af5cc3fab4aa33a3164be0c31c03792575680f9ba3e4fe0\";\n\nmsg.method = \"GET\";\nmsg.url = `https://serpapi.com/search.json?engine=google_trends&q=${product}&geo=AU&date=${encodeURIComponent(date)}&data_type=TIMESERIES&api_key=${apiKeyLinh}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 80,
        "wires": [
            [
                "e62c3272f20ec6cd"
            ]
        ]
    },
    {
        "id": "e62c3272f20ec6cd",
        "type": "http request",
        "z": "163ec25ad17b0fc3",
        "name": "call SERPAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 80,
        "wires": [
            [
                "27729f1de91ed424"
            ]
        ]
    },
    {
        "id": "9072811292b9694b",
        "type": "http in",
        "z": "163ec25ad17b0fc3",
        "name": "receive product, startDate, endDate",
        "url": "/trend",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "0f02841321440835"
            ]
        ],
        "icon": "node-red/arrow-in.svg"
    },
    {
        "id": "581a4ead9ca5d237",
        "type": "function",
        "z": "163ec25ad17b0fc3",
        "name": "compute trend summary",
        "func": "const timeline = msg.payload;\n\nif (!Array.isArray(timeline) || timeline.length < 2) {\n    msg.trend = { error: \"Not enough timeline data\" };\n    return msg;\n}\n\n// Extract numeric trend values from extracted_value field\nconst extractValue = entry =>\n    entry?.values?.[0]?.extracted_value ?? null;\n\nconst start = extractValue(timeline[0]);\nconst end = extractValue(timeline[timeline.length - 1]);\n\nif (typeof start !== \"number\" || typeof end !== \"number\") {\n    msg.trend = { error: \"Invalid trend data\" };\n    return msg;\n}\n\nconst percentChange = ((end - start) / (start || 1)) * 100;\nconst trend = percentChange > 0 ? \"upward\" : (percentChange < 0 ? \"downward\" : \"stable\");\n\nmsg.trend = {\n    start_value: start,\n    end_value: end,\n    percent_change: parseFloat(percentChange.toFixed(2)),\n    trend\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "b8113998bcbb6259",
                "dfbadc802544cb65"
            ]
        ]
    },
    {
        "id": "b8113998bcbb6259",
        "type": "function",
        "z": "163ec25ad17b0fc3",
        "name": "final response",
        "func": "msg.payload = {\n    trend: msg.trend,\n    timeline: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 200,
        "wires": [
            [
                "4a0cc81d81c16b8d"
            ]
        ]
    },
    {
        "id": "dfbadc802544cb65",
        "type": "debug",
        "z": "163ec25ad17b0fc3",
        "name": "debug trend summary",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "trend",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 120,
        "wires": []
    },
    {
        "id": "27729f1de91ed424",
        "type": "change",
        "z": "163ec25ad17b0fc3",
        "name": "extract timeline_data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.interest_over_time.timeline_data",
                "tot": "jsonata"
            }
        ],
        "x": 980,
        "y": 120,
        "wires": [
            [
                "581a4ead9ca5d237"
            ]
        ]
    },
    {
        "id": "4a0cc81d81c16b8d",
        "type": "http response",
        "z": "163ec25ad17b0fc3",
        "name": "http response",
        "statusCode": "200",
        "headers": {},
        "x": 1660,
        "y": 200,
        "wires": []
    },
    {
        "id": "c67a951a47135b6c",
        "type": "inject",
        "z": "163ec25ad17b0fc3",
        "name": "test data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"product\":\"iphone 16 pro max\",\"startDate\":\"2025-01-01\",\"endDate\":\"2025-05-01\"}",
        "payloadType": "json",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "0f02841321440835"
            ]
        ]
    },
    {
        "id": "d39ed7c496ab96e2",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "receive productName, videoCount, commentCount",
        "url": "/sentiment",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "43959ae73ade133f"
            ]
        ]
    },
    {
        "id": "43959ae73ade133f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "transition topic",
        "func": "let product = '';\nlet videoCount = 5; //default max value\nlet commentCount = 50; // default max value\n\nif (typeof msg.payload === 'object') {\n  product = msg.payload.product || msg.payload.topic || '';\n  videoCount = msg.payload.videoCount || videoCount;\n  commentCount = msg.payload.commentCount || commentCount;\n}\n\nif (!product) {\n  node.error('No product provided', msg);\n}\n\nmsg.topic = product;\nmsg.videoCount = videoCount;\nmsg.commentCount = commentCount;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "cd110ae4bd233faa"
            ]
        ]
    },
    {
        "id": "ee8026c8065a69eb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "build YouTube video search requests",
        "func": "const apiKey = 'AIzaSyB5Akr38qW4F6Jl-J92E0JDh_AjDTn5ivA';\n// const query = encodeURIComponent(msg.topic);\nconst query = encodeURIComponent(`${msg.topic} review`);\nconst url = `https://www.googleapis.com/youtube/v3/search?part=snippet&q=${query}&type=video&maxResults=${msg.videoCount}&key=${apiKey}`;\nmsg.method = 'GET';\nmsg.url = url;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 140,
        "wires": [
            [
                "0f2fa74d2f6c3517"
            ]
        ]
    },
    {
        "id": "0f2fa74d2f6c3517",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "get YouTube video",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1290,
        "y": 140,
        "wires": [
            [
                "3fd1cd4e7b5086e8"
            ]
        ]
    },
    {
        "id": "4676096329435430",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "get YouTube comments",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1830,
        "y": 140,
        "wires": [
            [
                "1e57165704d19faa"
            ]
        ]
    },
    {
        "id": "1e57165704d19faa",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract comment text",
        "func": "const comments = msg.payload.items || [];\nmsg.payload = comments.map(item => ({\n  text: item.snippet.topLevelComment.snippet.textOriginal\n}));\n\nmsg._req = msg._req;\nmsg._res = msg._res;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 189.99993896484375,
        "y": 371.0000100135803,
        "wires": [
            [
                "4985af6b7c8db66a"
            ]
        ]
    },
    {
        "id": "4985af6b7c8db66a",
        "type": "split",
        "z": "f6f2187d.f17ca8",
        "name": "split comments",
        "splt": "",
        "spltType": "json",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 449.99993896484375,
        "y": 371.0000100135803,
        "wires": [
            [
                "382605e4d9d24910"
            ]
        ]
    },
    {
        "id": "382605e4d9d24910",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "extract text only",
        "func": "msg.payload = msg.payload.text;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 689.9999389648438,
        "y": 371.0000100135803,
        "wires": [
            [
                "5c1d7ac012d3d67c"
            ]
        ]
    },
    {
        "id": "91d5f7eff6b26517",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "join sentiment",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "250",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 220,
        "y": 620,
        "wires": [
            [
                "42c86d338cf7645b"
            ]
        ]
    },
    {
        "id": "28eac21ca0513754",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "combine comment and sentiment results",
        "func": "const score = msg.sentiment.score || 0;\nconst magnitude = msg.sentiment.magnitude || 0;\n\nmsg.payload = {\n  comment: msg.payload,\n  sentiment_score: score,\n  sentiment_magnitude: magnitude\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 420,
        "wires": [
            [
                "91d5f7eff6b26517"
            ]
        ]
    },
    {
        "id": "5c1d7ac012d3d67c",
        "type": "google-cloud-language-sentiment",
        "z": "f6f2187d.f17ca8",
        "account": "facbfc970ede32a7",
        "keyFilename": "",
        "languageCode": "en",
        "name": "google cloud sentiment",
        "x": 930,
        "y": 420,
        "wires": [
            [
                "28eac21ca0513754"
            ]
        ]
    },
    {
        "id": "41f87c3bb0e9c8f8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "test data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"product\":\"iphone 16 pro max\",\"videoCount\":5,\"commentCount\":50}",
        "payloadType": "json",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "43959ae73ade133f"
            ]
        ]
    },
    {
        "id": "3fd1cd4e7b5086e8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "get YouTube comments",
        "func": "const videos = msg.payload.items || [];\nconst apiKey = 'AIzaSyB5Akr38qW4F6Jl-J92E0JDh_AjDTn5ivA';\n\nif (videos.length === 0) {\n    msg.payload = [];\n    return [null, msg];\n}\n\nconst messages = videos.map(item => ({\n    method: 'GET',\n    url: `https://www.googleapis.com/youtube/v3/commentThreads?part=snippet&videoId=${item.id.videoId}&maxResults=${msg.commentCount}&key=${apiKey}`,\n}));\n\nreturn [messages, null];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 140,
        "wires": [
            [
                "4676096329435430"
            ]
        ]
    },
    {
        "id": "2fc16b1afbec238a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug result analysis",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 560,
        "wires": []
    },
    {
        "id": "f83428e682c03edd",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "combine comment into 1 array",
        "info": "Current settings generate 5 arrays for comments\nBut we need to create 1 graph, so we need to combine all 5 video comment array into 1 and\ngenerate summary analytics for gemini prompt builder",
        "x": 200,
        "y": 420,
        "wires": []
    },
    {
        "id": "cd110ae4bd233faa",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Save Response",
        "rules": [
            {
                "t": "set",
                "p": "response",
                "pt": "flow",
                "to": "res",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "ee8026c8065a69eb"
            ]
        ]
    },
    {
        "id": "06e96d0101d5840b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Restore Response",
        "func": "msg.res = flow.get('response');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 660,
        "wires": [
            [
                "b0858f6829c3acd4"
            ]
        ]
    },
    {
        "id": "b0858f6829c3acd4",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Response",
        "statusCode": "200",
        "headers": {},
        "x": 1420,
        "y": 660,
        "wires": []
    },
    {
        "id": "4be9ea36d576c421",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "result analysis",
        "func": "// Flatten the joined array-of-arrays result\nconst results = msg.payload.flat();\n\n// Sentiment category counters\nlet summary = {\n    clearly_positive: 0,\n    clearly_negative: 0,\n    neutral: 0,\n    mixed: 0\n};\n\n// Categorize each entry and add to summary\nconst categorized = results.map(entry => {\n    const score = entry.sentiment_score;\n    const magnitude = entry.sentiment_magnitude;\n\n    let sentiment;\n\n    if (score >= 0.25) {\n        sentiment = 'clearly_positive';\n    } else if (score <= -0.25) {\n        sentiment = 'clearly_negative';\n    } else if (Math.abs(score) < 0.15 && magnitude >= 2) {\n        sentiment = 'mixed';\n    } else {\n        sentiment = 'neutral';\n    }\n\n    summary[sentiment]++;\n    return { ...entry, sentiment };\n});\n\n// Final payload\nmsg.payload = {\n    summary,\n    chartData: Object.entries(summary).map(([label, value]) => ({ label, value })),\n    comments: categorized\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 620,
        "wires": [
            [
                "2fc16b1afbec238a",
                "06e96d0101d5840b"
            ]
        ]
    },
    {
        "id": "42c86d338cf7645b",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "comment",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "0351a6a8a6e973d5"
            ]
        ]
    },
    {
        "id": "0351a6a8a6e973d5",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 620,
        "wires": [
            [
                "4be9ea36d576c421"
            ]
        ]
    },
    {
        "id": "http-in-product",
        "type": "http in",
        "z": "295f0eede1eed1eb",
        "name": "GET /products/:product_name",
        "url": "/products/:product_name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "set-product-name"
            ]
        ]
    },
    {
        "id": "set-product-name",
        "type": "function",
        "z": "295f0eede1eed1eb",
        "name": "Set Product Name",
        "func": "msg.product_name = msg.req.params.product_name.replace(/%20/g, ' ');\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 100,
        "wires": [
            [
                "fetch-firebase-data"
            ]
        ]
    },
    {
        "id": "fetch-firebase-data",
        "type": "http request",
        "z": "295f0eede1eed1eb",
        "name": "Fetch Firebase Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://connect-f885d-default-rtdb.asia-southeast1.firebasedatabase.app/products.json?auth=RqgAoe4IuML15ztQStVDPpEERh4XeOkseQSVoRdr",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 680,
        "y": 100,
        "wires": [
            [
                "filter-product"
            ]
        ]
    },
    {
        "id": "filter-product",
        "type": "function",
        "z": "295f0eede1eed1eb",
        "name": "Filter by Product Name",
        "func": "const productName = msg.product_name;\nconst products = msg.payload;\n\nif (products && products[productName]) {\n    msg.payload = products[productName]; // Return the array for the specified product\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: `Product '${productName}' not found` };\n    msg.statusCode = 404;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 100,
        "wires": [
            [
                "debug-output",
                "http-response"
            ]
        ]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "295f0eede1eed1eb",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1140,
        "y": 60,
        "wires": []
    },
    {
        "id": "debug-output",
        "type": "debug",
        "z": "295f0eede1eed1eb",
        "name": "Product Data Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 120,
        "wires": []
    },
    {
        "id": "75114f5b83b4328a",
        "type": "http in",
        "z": "295f0eede1eed1eb",
        "name": "POST /products/:product_name",
        "url": "/products/:product_name",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "734932f97fa16502"
            ]
        ]
    },
    {
        "id": "734932f97fa16502",
        "type": "function",
        "z": "295f0eede1eed1eb",
        "name": "Set Product Name and Payload",
        "func": "msg.product_name = msg.req.params.product_name.replace(/%20/g, ' ');\nmsg.new_record = msg.payload; // Store the incoming record\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "5664d4e81af92a9a"
            ]
        ]
    },
    {
        "id": "5664d4e81af92a9a",
        "type": "http request",
        "z": "295f0eede1eed1eb",
        "name": "Fetch Product Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://connect-f885d-default-rtdb.asia-southeast1.firebasedatabase.app/products/{{{product_name}}}.json?auth=RqgAoe4IuML15ztQStVDPpEERh4XeOkseQSVoRdr",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 180,
        "wires": [
            [
                "25f2d7efc6d421cf"
            ]
        ]
    },
    {
        "id": "25f2d7efc6d421cf",
        "type": "function",
        "z": "295f0eede1eed1eb",
        "name": "Append New Record",
        "func": "const productName = msg.product_name;\nconst newRecord = msg.new_record;\nlet existingData = msg.payload;\n\n// Validate new record\nif (!newRecord.id || !newRecord.period || !newRecord['Beginning Inventory'] || !newRecord.COGS || !newRecord['Ending Inventory'] || !newRecord.Sales || !newRecord['Target Turnover']) {\n    msg.payload = { error: 'Invalid record format. All fields (id, period, Beginning Inventory, COGS, Ending Inventory, Sales, Target Turnover) are required' };\n    msg.statusCode = 400;\n    return msg;\n}\n\n// If no existing data, initialize as empty array\nif (!existingData || existingData === null) {\n    existingData = [];\n}\n\n// Check for duplicate ID\nif (Array.isArray(existingData) && existingData.some(record => record.id === newRecord.id)) {\n    msg.payload = { error: `Record with id '${newRecord.id}' already exists for product '${productName}'` };\n    msg.statusCode = 409;\n    return msg;\n}\n\n// Append new record\nexistingData.push(newRecord);\nmsg.payload = existingData;\nmsg.url = 'https://connect-f885d-default-rtdb.asia-southeast1.firebasedatabase.app/products/' + encodeURIComponent(productName) + '.json?auth=RqgAoe4IuML15ztQStVDPpEERh4XeOkseQSVoRdr';\nmsg.method = 'PUT';\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 180,
        "wires": [
            [
                "05a69b7979980cf9"
            ]
        ]
    },
    {
        "id": "05a69b7979980cf9",
        "type": "http request",
        "z": "295f0eede1eed1eb",
        "name": "Write Product Data",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 180,
        "wires": [
            [
                "1a9a4c009a08f293"
            ]
        ]
    },
    {
        "id": "1a9a4c009a08f293",
        "type": "function",
        "z": "295f0eede1eed1eb",
        "name": "Handle Write Response",
        "func": "if (msg.statusCode === 200) {\n    msg.payload = { message: 'Record uploaded successfully', data: msg.payload };\n} else {\n    msg.payload = { error: 'Failed to upload record', statusCode: msg.statusCode, response: msg.payload };\n    msg.statusCode = msg.statusCode || 500;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 300,
        "wires": [
            [
                "51f4f2758a58c49f",
                "620cb190931b7c05"
            ]
        ]
    },
    {
        "id": "51f4f2758a58c49f",
        "type": "http response",
        "z": "295f0eede1eed1eb",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1220,
        "y": 260,
        "wires": []
    },
    {
        "id": "620cb190931b7c05",
        "type": "debug",
        "z": "295f0eede1eed1eb",
        "name": "Upload Output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 320,
        "wires": []
    }
]